{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upload list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>File</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for upload in uploads %}
            <tr>
                <td><a href="{{ path('upload_show', { 'id': upload.id }) }}">{{ upload.id }}</a></td>
                <td>{{ upload.file }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('upload_show', { 'id': upload.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('upload_edit', { 'id': upload.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('upload_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
