{% extends '::base.html.twig' %}
{% block title %}Dafp'c | Upload{% endblock %}

{% block body %}
    <h1>Mes défis</h1>

    <table class="table-responsive">
        <thead>
        <tr>
            <th>Photos</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('upload_show', { 'id': entity.id }) }}">{{ entity.photo }}</a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('upload_show', { 'id': entity.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('upload_edit', { 'id': entity.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        <td>
            <ul class="list-inline">
                <li>
                    <a href="{{ path('upload_new') }}">Télécharger une nouvelle photo</a>
                </li>
            </ul>
        </td>
        </tbody>
    </table>

{% endblock %}

