{% extends 'base.html.twig' %}
{% block title %}Dafp'c | Upload{% endblock %}

{% block body %}
    <h1>Défi n° {{ entity.id }}</h1>

    <table class="table-responsive">
        <tbody>
            <tr>
                <img src = "{{ app.request.basepath  }}/upload/{{ entity.photo }}">
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('upload_edit', { 'id': entity.id }) }}">Modifier</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            {{ form_end(delete_form) }}
                        </li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('upload_index') }}">Liste des défis</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>

    </table>

{% endblock %}
